<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="Handler" value="C:\Users\Yana Patyuk\Desktop\pic\s1\;C:\Users\Yana Patyuk\Desktop\pic\s2\;C:\Users\Yana Patyuk\Desktop\pic\s4\"/>
    <add key="OutputDir" value="C:\Users\Yana Patyuk\Desktop\pic\l\"/>
    <add key="SourceName" value="ImageService"/>
    <add key="LogName" value="ImageServiceLog"/>
    <add key="ThumbnailSize" value="120"/>
  </appSettings>
</configuration>